$background-color: #f5f5f5;




.work-container {
    display: flex;
    font-size: 18px;
    color: black;
    justify-content: space-evenly;
    align-items: center;
    background-color: $background-color;
    height: 14%;
    margin-top: 100px;
    
    .mini-container {
        width: 15%;
    }
    .mini-container-budget {
        width: 15%;
        // height: 70%;
    }
    h1 {
        font-weight: 500;
    }
    img {
        width: 50%;
    }
}