$background-color: #65b0b2;


.work-container {
    display: flex;
    font-size: 18px;
    color: #0B3840;
    justify-content: space-evenly;
    align-items: center;
    background-color: $background-color;
    height: 14%;
    margin-top: 100px;
    padding: 0;

    
    .mini-container {
        width: 15%;
        padding: 0;

        div {
            font-family: montserrat;
        }
    }
    h1 {
        font-weight: 500;
        font-family: playfair;
    }
    img {
        width: 50%;
        filter: invert(86%) sepia(95%) saturate(3213%) hue-rotate(6deg) brightness(92%) contrast(90%);
    }
    .arrow {
        width: 3%;
        filter: invert(87%) sepia(38%) saturate(98%) hue-rotate(74deg) brightness(110%) contrast(104%);
        transform: rotate(90deg);
    }
}