.nav-container {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  padding: 0px 0.6rem;
  background: linear-gradient(#191a1b, transparent);
  margin: 0%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50000;
  overflow: hidden;
}

button {
  width: 8rem;
  font-family: Montserrat;
  margin: 0%;
  padding: 5px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
}
.header-brand {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0%;
  width: 70px;
  border-radius: 50%;
  z-index: 5000;
}

.header-logo {
  height: 100%;
}

.header-name {
  height: 200%;
}

.auth-button {
  position: relative;
  color: #fdfffc;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border: 2px solid #fdfffc;
  transition: all ease 0.25s;
  z-index: 6000;
}

.auth-button:hover {
  border-radius: 0px;
  padding: 0.6rem;
  border: 2px solid #cae00d;
  color: #cae00d;
  cursor: pointer;
}

.user-nav {
  display: flex;
  color: #fcfffd;
  align-items: center;
  margin-right: 1rem;
}
.user-nav > h1 {
  margin: 0px;
  display: flex;
  align-items: center;
  color: #d6dbd9;
  font-weight: 300;
}
.user-nav:hover {
  color: #fcfffd;
}
.down-triangle {
  position: relative;
  margin: 0px;
  margin-bottom: -15px;
  margin-left: 5px;
  height: 0px;
  width: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 15px solid #c1c3c2;
  z-index: 2000;
  transition: all ease 0.25s;
}
.down-triangle:hover {
  cursor: pointer;
  border-top: 15px solid #fcfffd;
}

.up-triangle {
  position: relative;
  margin: 0px;
  margin-top: -10px;
  margin-left: 5px;
  height: 0px;
  width: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #fcfffd;
  border-top: 10px solid transparent;
  z-index: 4000;
  transition: all ease 0.25s;
}
.up-triangle:hover {
  cursor: pointer;
}
.pop-menu {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  height: 0px;
  overflow: hidden;
  position: absolute;
  top: 6rem;
  right: 0.6rem;
  width: 10rem;
  background-color: #0b3840;
  border-radius: 5px;
}
.pop-menu-visible {
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #fcfffd;
  height: fit-content;
  overflow: hidden;
  position: absolute;
  top: 6rem;
  right: 0.6rem;
  width: 10rem;
  background-color: #0b3840;
  border: 2px solid #0b3840;
  border-radius: 5px;
  z-index: 90000;
}

.pop-menu-visible > h3 {
  position: relative;
  font-weight: 100;
  font-family: Montserrat;
  z-index: 5000;
}
.pop-menu-visible > h3:hover {
  cursor: pointer;
  color: #cae00d;
}

.nav-items {
  padding: 0.6rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.list-item {
  box-sizing: border-box;
  position: relative;
  margin: 1rem 0.6rem 1rem 0.6rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: Montserrat;
  z-index: 40000;
}
.list-item:hover {
  box-sizing: border-box;
  color: #cae00d;
  border-bottom: 1px solid #cae00d;
}
