header {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  padding: 0px 0.6rem;
  background: linear-gradient(black, transparent);
  margin: 0%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  width: 8rem;
  font-family: Montserrat;
  margin: 0%;
  padding: 5px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
}
.header-logo {
  margin: 0%;
  width: 60px;
  border: 1px solid #fcfffd;
  border-radius: 50%;
}

.auth-button {
  color: #fdfffc;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border: 2px solid #fdfffc;
  transition: all ease 0.25s;
}

.auth-button:hover {
  border-radius: 0px;
  padding: 0.6rem;
  border: 2px solid #cae00d;
  color: #cae00d;
  cursor: pointer;
}
