.landing {
  position: relative;
  margin: 0%;
  height: fit-content;
  background-color: #fdfffc;
}
.video-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #65b0b2;
}

.video {
  width: 100%;
}

.triangle {
  margin-left: auto;
  margin-right: auto;
  height: 0px;
  width: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 30px solid transparent;
  border-top: 30px solid #65b0b2;
}

.mini-map-div {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

.landing-line {
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 95vw;
  border: 0.25px solid #0b384052;
}

.landing-welcome-message {
  position: absolute;
  top: 20rem;
  left: 0rem;
  right: 0rem;
}
.landing-welcome-message > h1 {
  color: #fcfffd;
  font-family: montserrat;
  font-size: 6rem;
  font-weight: 300;
  text-shadow: 0px 6px 10px black;
}
