.landing {
  position: relative;
  margin: 0%;
  height: 400vh;
  background-color: #fdfffc;
}
.video-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #65b0b2;
}

.video {
  width: 100%;
}

.triangle {
  margin-left: auto;
  margin-right: auto;
  height: 0px;
  width: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 30px solid transparent;
  border-top: 30px solid #65b0b2;
}

.deals-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mini-map-div {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}
