* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.background-container {
    display: flex;
    flex-direction: column;
    z-index: -1;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#65b0b2, #fdfffc );
}
.profile-container {
  display: flex;
  align-content: center;
  z-index: 1;
  margin-top: 100px;
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 50px;
}
.profile {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  text-align: center;
  color: #000000;
  z-index: 1;
  margin-bottom: 20px;
  margin-top: 50px;
}
.line {
  width: 250px;
}

.user-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 1;
    background-color: #fcfffd;
    height: 225px;
    justify-content: space-evenly;
    width: 345px;
    font-size: smaller;
    -webkit-box-shadow: 1px 5px 12px 0px #000000; 
    box-shadow: 1px 5px 12px 0px #000000;
    text-align: left;
}

.suggested-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 346px;
  height: 580px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fcfffd;
  margin-top: 20px;
  -webkit-box-shadow: 1px 5px 12px 0px #000000;
  box-shadow: 1px 5px 12px 0px #000000;
  overflow-y: scroll;
  color: black;
}

.suggested-container > h3 {
    color: black;
}

.suggested-container::-webkit-scrollbar {
  display: none;
}

.profile-flight-card {
    /* overflow-y: hidden; */
    display: flex;
    justify-content: space-between;
    font-family: Montserrat;
    margin: 0.6rem;
    border: 1px solid #393e41;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 2px 2px 5px #b3b3b3;
}

.profile-image-container {
    /* width: 50%; */
    height: 10rem;
}

.profile-card-image {
    margin: 0px;
    max-width: 100%;
    height: inherit;
    border-radius: 5px 0px 0px 5px;
}

.locations-container {
  width: 1016px;
  height: 860px;
  left: 656px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fcfffd;
  -webkit-box-shadow: 1px 5px 12px 0px #000000;
  box-shadow: 1px 5px 12px 0px #000000;
  overflow: scroll;
}
.locations-container::-webkit-scrollbar {
  display: none;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 1014px;
    height: 62px;
    background-color: #0b3840;
    z-index: 2;
    text-shadow: 0 0 10px #000;
    color: #fcfffd;
    margin-bottom: 100px;
    border-radius: 2px;
}

.locations-mapped {
    margin-top: 6%;
}

/* .search-trips-input {
  width: 300px;
  height: 30px;
  margin-left: 20px;
  border-radius: 5px;
} */

.locs-container {
    display: flex;
    height: 300px;
    border-bottom: 3px solid #0b3840;
    justify-content: space-between;
    padding: 1rem;
}

.locations {
    display: flex;
    height: 40px;
    text-shadow: 0 0 10px #000;
    color: #fcfffd;
}

.information-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-shadow: 0 0 10px #000;
    color: #fcfffd;
    padding: 1rem;
    margin-top: 50px;
}

.information-container > h3 {
   text-shadow: 0 0 10px #000;
   color: #fcfffd;
  display: flex;
  height: 200px;
  margin-bottom: 40px;
  justify-content: space-between;
}


.airport {
  display: flex;
  height: 30px;
  position: relative;
}

.dates {
  display: flex;
  height: 30px;
  position: relative;
}

.created {
  display: flex;
  height: 20px;
  position: relative;
}

.home {
  margin-bottom: 10px;
  color: black
}
.links-profile {
    color: black;
}

a:link{
    text-decoration: none;
}

.email {
    display: flex;
    color: #79a8aa;
    font-size: smaller;
    text-decoration: underline;
    margin-left: 20px;
}

.pref {
    display: flex;
    color: #79a8aa;
    font-size: smaller;
    text-decoration: underline;
    margin-left: 20px;
}

.user-container > h2{
    display: flex;
    margin-right: 6px;
}

.user-container > h2 > h2 {
    display: flex;
    margin-right: 6px;
}

.pro-container {
    display: flex;
    position: relative;
    background-color: #0b3840;
    height: 30%;
    top: -28px;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    color: #fcfffd;
}

.profile-from{
  text-align: right;
}