.register-field {
  position: absolute;
  top: 15vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  /* width: fit-content;
  height: fit-content; */
  width: 450px;
  height: 25%;
}
.register-input-field {
  padding: 0.6rem 1rem;
  background-color: #0b3840bd;
  border: 2px solid #0b3840;
  border-radius: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: stretch;
  width: 450px;
}
.register-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.register-header > h2 {
  margin: 0px;
  color: #cae00d;
  font-weight: 300;
}
.register-header > h4 {
  color: #fcfffd;
  display: flex;
  align-items: center;
  font-weight: 200;
  margin: 0px;
}
.register-header > h4 > h4 {
  margin: 0px;
  margin-left: 5px;
  color: #cae00d;
  letter-spacing: 2px;
  font-weight: 200;
}

.register-inputs {
  margin: 0px;
  margin-top: 1.5rem;
  text-align: left;
  font-family: Montserrat;
  font-size: 1rem;
  width: 95%;
  height: 3.5rem;
  border: 2px solid #cae00d;
  border-radius: 5px;
  outline: none;
  transition: all ease 0.5s;
}
.register-error {
  margin: 0px;
  margin-top: 1.5rem;
  text-align: left;
  font-family: Montserrat;
  font-size: 1rem;
  width: 95%;
  height: 3.5rem;
  border: 2px solid #f64740;
  border-radius: 5px;
  outline: none;
  transition: all ease 0.5s;
}

.required-field {
  color: #f64740;
  font-weight: bold;
  text-align: left;
  margin: 0px;
  width: 97%;
}
.error-message {
  font-size: 1rem;
  margin: 0px;
  margin-top: 0.6rem;
  margin-right: auto;
  margin-left: auto;
  color: #f64740;
}

.register-button {
  /* position: unset; */
  bottom: 2.6rem;
  font-size: 2rem;
  z-index: 0;
  width: 10rem;
  border: 1px solid #0b3840;
  background-color: #cae00d;
  transition: all ease 0.25s;
  margin-top: 20px;
  margin-bottom: 20px;
}
.register-button:hover {
  cursor: pointer;
  border-radius: 0px;
  border: 1.5px solid #fcfffd;
}

.signup-airport-select {
  width: 97%;
  margin: 0px;
  margin-top: 1.5rem;
  text-align: left;
  font-family: Montserrat;
  font-size: 1rem;
}

/*Login STYLING*/
.login-field {
  position: absolute;
  top: 15vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
  width: 450px;
  height: 15%;
}
