.mini-map-container {
  padding: 3rem;
  background-color: #0b3840d7;
  opacity: 0.9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79%;
  height: 60vh;
  margin-top: 50px;
  margin-bottom: 20px;
}

.mini-map-side-bar {
  height: 100%;
  width: 40%;
  border-left: 3px solid #cae00d;
  border-top: 3px solid #cae00d;
  border-bottom: 3px solid #cae00d;
  background-color: white;
  z-index: 1;
  overflow-y: scroll;
}

.mini-map-side-bar::-webkit-scrollbar {
  display: none;
}
.mini-map {
  border: 3px solid #cae00d;
  border-left: none;
  width: 100%;
  height: 100%;
}

.marker {
  width: 40px;
}

.marker:hover {
  cursor: pointer;
}

button.marker-btn {
  transform: translate(-50%, -100%);
  /* width: 100%; */
}

button.marker-btn p:hover,
button.marker-btn img:hover {
  transform: scale(1.1);
}

.marker-btn {
  width: 100%;
}

.marker-icon {
  width: 100%;
  height: 30px;
}

/* .popup {
  position: absolute;
} */

.popup-img {
  width: 100%;
  height: 20vh;
}

.map-click {
  color: #f6615c;
}

/*Suggested Cards*/
.suggested-header {
  font-family: Montserrat;
  font-weight: 300;
  color: #0b3840;
  position: sticky;
  top: 0px;
  background-color: #fdfffc;
  margin: 0px;
  padding: 0.6rem 0px;
  z-index: 50000;
}
.miniMap-flight-card {
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
  margin: 0.6rem;
  border: 1px solid #393e41;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 2px 2px 5px #b3b3b3;
}

.image-container {
  width: 35%;
  height: 10rem;
}

.flight-card-image {
  margin: 0px;
  width: 100%;
  height: inherit;
}
.mini-info-container {
  padding: 0px 0.6rem;
  box-sizing: border-box;
  width: 65%;
  height: 10rem;
  text-align: left;
  display: flex;
  /* flex-direction: column; */
  align-items: flex-end;
  justify-content: space-evenly;
}
.mini-info-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.mini-info-div > h1 {
  margin: 0px;
  font-size: 1.25rem;
  font-weight: 450;
  color: #0b3840;
  display: flex;
}

.mini-info-div > h4 {
  font-size: 0.75rem;
  font-weight: 300;
  margin: 0px;
  margin-left: 1px;
}

.mini-info-container > h1 {
  margin: 0px;
  text-align: right;
  font-weight: 600;
  color: #0b3840;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mini-info-container > h1 > h6 {
  margin: 0px;
  font-weight: 300;
  color: #0b3840;
  margin-right: 3px;
}

/* Marker Colors ----------------------------------------- */
.hun-price {
  background: white;
  width: 3rem;
  border: 2px solid #fa5e58;
}
.two-price {
  background: white;
  width: 3rem;
  border: 2px solid #cae00d;
}
.four-price {
  background: white;
  width: 3rem;
  border: 2px solid #fcab15;
}
.six-price {
  background: white;
  width: 3rem;
  border: 2px solid #63f140;
}
.eight-price {
  background: white;
  width: 3rem;
  border: 2px solid #5cf6d0;
}
.thou-price {
  background: white;
  width: 3rem;
  border: 2px solid #5b38f8;
}
.high-price {
  background: white;
  width: 3rem;
  border: 2px solid #f6005e;
}

.book-button {
  font-size: 1rem;
  cursor: pointer;
  /* margin-top: 1rem; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  z-index: 3000;
  /* width: 75%; */
  /* border: 3px solid #0b3840; */
  background-color: #cae00d;
  border-radius: 10px;
}

.mini-price > h1 {
  margin-left: 0px;
  text-align: right;
  font-weight: 600;
  color: #0b3840;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mini-price > h6 {
  margin-right: 0px;
  font-weight: 300;
  color: #0b3840;
  margin-right: 3px;
}
