.modal-info {
  flex-grow: 2;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-content > h2 {
  text-align: left;
  margin: 1rem 0px 1rem 0px;
  font-weight: 500;
  border-bottom: 1px solid #65b0b6;
}
.modal-content > h4 {
  font-weight: 300;
  margin-top: 0.6rem;
}
.modal-info > div {
  margin-bottom: 0.6rem;
  flex-grow: 2;
}

.modal-info > div > h2 {
  font-weight: 300;
}

.modal-header-info > h2 {
  font-weight: 400;
  text-align: center;
  color: #65b0b6;
  font-style: normal;
}
.modal-header-info > p {
  text-align: center;
}
