::placeholder {
  color: #0b3840;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #0b3840;
}
::-ms-input-placeholder {
  color: #0b3840;
}
.search-field {
  position: absolute;
  top: 18vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: fit-content;
}
.search-field > h1 {
  color: #fcfffd;
  letter-spacing: 3px;
  font-weight: 100;
}
.input-field {
  padding: 1rem;
  background-color: #0b3840bd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.budget-input {
  text-align: center;
  font-family: Montserrat;
  font-size: 1.5rem;
  width: 98%;
  height: 3rem;
  /* border: 2px solid #cae00d; */
  border-radius: 5px;
  outline: none;
  color: #0b3840;
}
.where-when-inputs {
  margin-top: 0.6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-button {
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 3000;
  width: 15rem;
  /* border: 3px solid #0b3840; */
  background-color: #cae00d;
  border-radius: 20px;
}

.search-button:hover {
  transform: scale(1.1);
}
.slogan-container {
  color: white;
  /* opacity: 0.5;  */
}
.depart-arrive-container {
  padding: 0%;
  width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.depart-arrive-container > input {
  text-align: center;
  font-family: Montserrat;
  font-size: 1.5rem;
  width: 50%;
  height: 2.2rem;
  border-radius: 5px;
  outline: none;
  color: #0b3840;
  margin-left: 0.6rem;
  font-size: 1rem;
}
.airport-select {
  width: 30rem;
  font-family: montserrat;
  text-align: left;
  color: #0b3840;
  outline: #0b3840;
  margin-right: 0.6rem;
}
.airport-select:focus {
  outline: none;
}

.between-arrow-left {
  margin: 0%;
  margin-left: 0.6rem;
  transform: rotate(45deg);
  width: 15px;
  height: 14px;
  border-left: 2px solid #cae00d;
  border-bottom: 2px solid #cae00d;
}
.between-arrow-right {
  margin: 0%;
  transform: rotate(45deg);
  width: 15px;
  height: 14px;
  border-right: 2px solid #cae00d;
  border-top: 2px solid #cae00d;
}
.vert-line-a {
  border: 0.5px solid #cae00d;
  height: 2rem;
}
@media (max-width: 900px) {
  .slogan-container {
    display: none;
  }
}
