::placeholder {
  color: #0b3840;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #0b3840;
}
::-ms-input-placeholder {
  color: #0b3840;
}
.search-field {
  position: absolute;
  top: 30vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 100vh;
}
.search-field > h1 {
  color: #fcfffd;
  letter-spacing: 3px;
  font-weight: 100;
  overflow: hidden;
}
.input-field {
  padding: 1rem;
  background-color: #0b3840bd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.budget-input {
  text-align: center;
  font-family: Montserrat;
  font-size: 1.5rem;
  width: 99%;
  height: 3rem;
  /* border: 2px solid #cae00d; */
  border-radius: 5px;
  outline: none;
  color: #0b3840;
}
.where-when-inputs {
  padding: 0px;
  margin-top: 0.6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.search-button {
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 3000;
  width: 15rem;
  /* border: 3px solid #0b3840; */
  background-color: #cae00d;
  border-radius: 20px;
}

.search-button:hover {
  transform: scale(1.1);
}
.slogan-container {
  color: white;
  font-weight: bolder;
  /* opacity: 0.5;  */
}
.depart-arrive-container {
  padding: 0%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.depart-arrive-container > input {
  text-align: center;
  font-family: Montserrat;
  font-size: 1.5rem;
  width: 60%;
  height: 2.2rem;
  border-radius: 5px;
  outline: none;
  color: #0b3840;
  margin-left: 0.6rem;
  font-size: 1rem;
}
.airport-select {
  width: 30rem;
  font-family: montserrat;
  text-align: left;
  color: #0b3840;
  outline: #0b3840;
  margin-right: 0.6rem;
}
.airport-select:focus {
  outline: none;
}

.between-arrow-left {
  margin: 0%;
  margin-left: 0.6rem;
  transform: rotate(45deg);
  width: 15px;
  height: 12px;
  border-left: 2px solid #cae00d;
  border-bottom: 2px solid #cae00d;
}
.between-arrow-right {
  margin: 0%;
  transform: rotate(45deg);
  width: 15px;
  height: 12px;
  border-right: 2px solid #cae00d;
  border-top: 2px solid #cae00d;
}
.vert-line-a {
  border: 0.5px solid #cae00d;
  height: 2rem;
}
@media (max-width: 900px) {
  .slogan-container {
    display: none;
  }
}

.downArrow {
  margin-top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  filter: invert(92%) sepia(13%) saturate(4125%) hue-rotate(11deg)
    brightness(99%) contrast(90%);
  z-index: 93090954389543890;
}
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@media (max-width: 1200px) {
  .downArrow {
    display: none;
  }
}
